.my-container{
    margin: 100px auto;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: inherit;
}
.for-profile .me{
    padding-left: 100px;
    width: 300px;
    border-radius: 5px;
    
}

.cheat{

    border: 1px solid #FFF;
    margin-top: 140px;
    width: 100px;
    padding: 30px;

}
.for-paragraph{
    color: #FFFFFF;
    padding-top: 90px;
}







/* For contact section*/

.contact-1{
    width: 80%;
    margin: 70px auto;
}

.contact-box{
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: inherit;
    display: flex;
    margin-bottom: 100px;
    background-color: #FFFFFF;

}

.right-1 {
    flex-basis: 60%;
    padding: 40px 60px;
}
.left-1 {
    flex-basis: 40%;
    padding: 40px;
    background-color: #2B3E74;
    color: #FFFFFF;
    
}
h1{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group {
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 3px;
}

textarea{
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
label{
    display: block;
    margin-bottom: 6px;
}

button{
  
    color: #2B3E74;
    margin-top:20px ;
    height: 30px;
    border: 1px solid #2B3E74;
    border-radius: 20px;
    width: 100px;
    transition: 0.20s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}
button:hover{
    background-color: #2B3E74;
    color: #FFFFFF;

}

tr td:first-child  {
    padding-right: 20px;
}
tr td  {
    
    padding-top: 20px;
}


.black-me{
    color: #FFF;
}


