body{
    margin:0;
    background-color: #2B0000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
   
}
    /*
animation: change-color-anim 10s linear infinite;
} 
    

@keyframes change-color-anim {
	0%, 50%{
		background-color: #000000 ;
	}
	50%{
		background-color: #1F7E8D ;
	}
}
*/
     
.navi{
    padding: 8px;
    text-decoration: none;
    color: #F6F8F9;
    transition: 0.15s;
    position: relative;
}
.navi::after{
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);    
    position: absolute;
    background-color: white ;
    transition: width 0.20s;
 }
 .navi:hover::after{
    width: 50%;
 }
 .navi:hover{
    font-size:17px ;
 }
p{
   margin-top: 5px;
}