.sidebar-1{
    display: grid;
    grid-template-columns: 90px  1000px;
    column-gap: 105px;
    align-items: center;
    transition: display 3.2s;
    animation-duration: 1.2s;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: inherit;

}

.sidebar-2{
    height: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
     }
.weight-1{
        height: 200px;
        background-color: #2B3E74;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        
        }


.grams{
    color: #ffff;
    margin-left: 5px;
    line-height: 5px;
    font-size: 45px;
    margin-left: 5px;
    display: flex;
}

.grams-1{
    display: grid;
    grid-template-rows: 50px 50px ;
    justify-content: center;

}

.grams-2{
    margin-left:10px;
    color: #ffff;
    font-size: 18px;
    
}

.text-1{
    flex: 1;
    background-color: #C3A43C;
    border-top-right-radius: 30px;

    }

.align-me{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 20px;
    color: #ffff;
    margin-top: 100px;
}