.kontint-1{
    width: 100%;
    transition: transform 0.7s ease-in-out;
}

.kontint-1:hover{
  transform: scale(1.4);
}
.them-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding-left: 30px;
    padding-top: 30px;
    align-content: center;
    z-index: 2;

    
}

.them-main-3{
    display: flex;
    align-items: end;
    justify-content: center;
}

@media (max-width: 550px) {
    .the-main{
        grid-template-columns: 1fr 1fr ;
    }
}

.hansel{
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 10px 5px 10px #000;
    z-index: 1;
  
    
}
.hansel-1{
    padding-top: 70px ;
    display: flex;
    justify-content: center;
    background-color: #2B3E74;
    box-shadow: 0px 0px 3px 2px;

}
.fun, .fun-2 {
    color: yellow;
    margin: 0;
}

.fun-3{
    margin: 0;
}
.b{
    
        position: relative;
        top: 0;
        width: 100%;
        min-height: 100%;

}
