.thumbnail{
    width:100%;
}
.search-box{
    padding: 5px;
    display: block;
}
.video-title{
     margin-top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.div-example{
    display: inline-block;
}
.div-preview{
    
    width: 300px;

    margin-right: 5px;
    background-color: red;
}
.div-preview-2{
    width: 300px;

    vertical-align: top;
    background-color: black;
}
.channel-1{
    vertical-align: top;
    background-color: gray;
}
.profile-picture{
    width: 40px;
    border-radius: 30px;
}
.video-info{
    background-color: gray;
}
.thumbnail-row{
    margin-bottom: 20px;
}
p{
    font-family: 'Roboto', sans-serif;
    margin-top: 0;

}
.video-author, .video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 5px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.the-main{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 10px;
    background-color: aqua;
}
